<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>music_genre</title>
<style>

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .divider{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  .form-control {
    display: inline-flex;

  }
  label{
    display: inline-block;
    float: left;
    clear: left;
    width: 112px;
    text-align: left; /*Change to right here if you want it close to the inputs*/
    font-size: 17px;
}
input {
  display: inline-block;
  float: left;
}
img{
  width: 56px;
    border-radius: 50%;
    height: 51px;
    margin-right: 422px;
}

</style>

</head>
<body>
  <div class="p-3 mb-2 bg-secondary text-white" >
    
    
    <h2 style="text-align: center;">Music Genre Prediction</h2>
  
  </div>

      <div class="container" style="margin-top:22px">
        
         <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prediction Result</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        

        {% if Alternative %}
        <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
          <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Alternative}}</p> </div>
          {% elif Anime %}
          <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
          <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Anime}}</p> </div>
            {% elif Blues %}
          <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
          <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Blues}}</p> </div>
            {% elif Classical %}
            <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
            <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Classical}}</p> </div>

              {% elif Country %}
              <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
              <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Country}}</p> </div>

                {% elif Electronic %}
                <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
                <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Electronic}}</p> </div>

                  {% elif Hip_Hop %}
                  <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
                  <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Hip_Hop}}</p> </div>

                    {% elif Jazz %}
                  <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
                  <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Jazz}}</p> </div>

                    {% elif Rap %}
                    <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
                    <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Rap}}</p> </div>

                      {% elif Rock %}
                      <div class="alert alert-primary"> <p style="text-align: center; font-size: 20px; color: black;">Music Genre Prediction of given input</p>
                      <p style="text-align: center; font-size: 22px; color: crimson; font-weight: 600;">{{Rock}}</p> </div>



        {% endif %}

      </div>
      
    </div>
  </div>
</div>


        <form class="form-group" id="formIds" action="/" method="POST">

        <div class="divider">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Popularity</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter popularity" name="popularity">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Acousticness</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter acousticness" name="acousticness" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Danceability</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter danceability" name="danceability">
          </div>
        </div>
        <div class="divider">
         
          
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Instrumentalness</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter instrumentalness" name="instrumentalness">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Loudness</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter loudness" name="loudness">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Art Genre</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter art_genre" name="art_genre">
          </div>
        </div>
       
        <div class="divider">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Mode</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter mode in number" name="mode">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Speechiness</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter speechiness" name="speechiness">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Valence</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter valence" name="valence">
          </div>
          
        </div>
       
        
        <div class="button" style="text-align: center; margin-top: 15px; margin-bottom: 15px;">
          <button type="button" class="btn btn-danger" style="width: 10%;margin-right: 16px;">Reset</button>
          <button type="submit" name="submit" class="btn btn-success" style="width: 13%;">Predict</button>
          

        </div>

        </form>
      </div>
    




      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 


     {% if show_modal %}
  <script>
    $(document).ready(function() {
      $('#exampleModal').modal('show');
    });
  </script>
  {% endif %}
  
</body>
</html>
